:root {
    --backgroundGrey: rgba(50,50,50,0.5);
    --fontWhite: #cacaca;
}

button {
    cursor: pointer;
}

input[type='text'] {
    cursor: text;
}

#game-canvas-event-listener {
    cursor: crosshair;
}

#game-canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#menu {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    color: var(--fontWhite);
    transition: transform .4s;
    transform-origin: top left;
}
#menu > div {
    background-color: rgba(60,60,60,0.3);
    border: 2px solid gray;
    padding: 1px;
    margin-bottom: 2px;
}
#menu > div > input[type='number'],
#menu > div > input[type='text'] {
    background-color: var(--backgroundGrey);
    border: none;
    color: var(--fontWhite);
}
#menu .close {
    margin-left: 31px;
    color: rgb(255, 100, 100);
}
#show-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    color: rgb(120, 255, 120);
    opacity: 0;
    transition: opacity .4s;
}
.semi-button {
    background-color: var(--backgroundGrey);
    border: 1px solid black;
    border-radius: 2px;
    font-family: cursive;
    font-weight: bold;
    padding: 0px 4px;
    cursor: pointer;
}


#chat {
    position: fixed;
    bottom: 3px;
    left: 3px;
    color: var(--fontWhite);
}

#chat-history {
    height: 120px;
    max-width: 300px;
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
    
    background: -webkit-linear-gradient(90deg, var(--fontWhite) 0%, var(--fontWhite) 50%, rgba(0,0,0,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#chat-history > * {
    pointer-events: none;
}
#chat-history.opened {
    max-height: 240px;
    pointer-events: all;
}

#chat .bold {
    font-weight: bold;
}

#chat-input {
    width: 300px;
    background-color: rgba(0,0,0,0);
    color: var(--fontWhite);
    border: 1px solid;
    border-image: linear-gradient(to right, var(--fontWhite) 0%, rgba(0,0,0,0) 100%) 1;
    border-radius: 1px;
}


#realLerp {width: 60px;}
#input-arificial-framerate {width: 40px;}

#start-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#start-menu-options {
    position: fixed;
    width: 400px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    border: 1px solid grey;
    border-radius: 3px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#start-menu-options > * {
    width: 200px;
    font-size: large;
}

#start-menu-options .small {
    width: 150px;
    font-size: medium;
}
/*
#input-server-id {
    top: calc(40% - 60px);
    left: calc(50% - 75px);
    width: 150px;
}*/