:root {
    --backgroundGrey: rgba(50,50,50,0.5);
    --fontWhite: #cacaca;
    --brightFontWhite: #ededed;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}
.button {
    cursor: pointer;
}

input[type='text'] {
    cursor: text;
}

input[type=number]:not(:hover)::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.hidden {
    display: none !important;
}

#game-canvas-event-listener {
    cursor: crosshair;
}

#game-canvas {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1, -1);
}

#debug-menu {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    color: var(--fontWhite);
    transition: transform .4s;
    transform-origin: top right;
}
#debug-menu > div {
    background-color: rgba(60,60,60,0.3);
    border: 2px solid gray;
    padding: 1px;
    margin-bottom: 2px;
}
#debug-menu > div > input[type='number'],
#debug-menu > div > input[type='text'] {
    background-color: var(--backgroundGrey);
    border: none;
    color: var(--fontWhite);
}
#debug-menu .close {
    margin-left: 31px;
    color: rgb(255, 100, 100);
}
#show-debug-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    color: rgb(120, 255, 120);
    opacity: 0;
    transition: opacity .4s;
}
.semi-button {
    background-color: var(--backgroundGrey);
    border: 1px solid black;
    border-radius: 2px;
    font-family: cursive;
    font-weight: bold;
    padding: 0px 4px;
    cursor: pointer;
}

#menu-return-to-editor {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu-return-to-editor > button {
    background-color: rgba(80,80,80,0.3);
    border: 2px solid var(--fontWhite);
    color: var(--fontWhite);
}


#chat {
    pointer-events: none;
    position: fixed;
    bottom: 3px;
    left: 3px;
    color: var(--fontWhite);
}

#chat-history {
    height: 120px;
    max-width: 300px;
    display: flex;
    flex-direction: column-reverse;
    
    background: -webkit-linear-gradient(90deg, var(--fontWhite) 0%, var(--fontWhite) 50%, rgba(0,0,0,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#chat-history.opened {
    height: 240px;
    pointer-events: all;
}

#chat .bold {
    font-weight: bold;
}

#chat-input {
    width: 300px;
    background-color: rgba(0,0,0,0);
    color: var(--fontWhite);
    border: 1px solid;
    border-image: linear-gradient(to right, var(--fontWhite) 0%, rgba(0,0,0,0) 100%) 1;
    border-radius: 1px;
    pointer-events: all;
}


#side-menu {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 200px;
    background-color: rgba(50,50,50,0.5);
    transition: left 1s;
}
#side-menu.closed {
    left: -200px;
}

#side-menu .close {
    position: fixed;
    top: 0px;
    left: 200px;
    transition: left 1s;
    background-color: inherit;
    width: 20px;
    height: 70px;
    color: var(--fontWhite);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
    font-family: sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid gray;
    cursor: pointer;
}
#side-menu .close.closed {
    left: 0px;
}
#side-menu .close > span {
    transition: rotate 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: linear;
}
#side-menu .close.closed > span {
    rotate: 180deg;
}

#side-menu .content > * {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
#side-menu .content * {
    color: var(--fontWhite);
    background: none;
}
#side-menu .content > * > .button {
    margin: 5px 0px;
    padding: 2px 0px;
    background: none;
    font-size: 17px;
    width: 90%;
    border: 2px solid;
    border-image: linear-gradient(to right, var(--fontWhite) 0%, rgba(0,0,0,0) 100%) 1;
    text-align: center;
    transition: border-image .5s;
}
#side-menu .content > * > .button:hover {
    color: var(--brightFontWhite);
    border-image: linear-gradient(to right, var(--fontWhite) 0%, var(--fontWhite) 100%) 1;
}
#side-menu .content > * > .separator {
    width: 90%;
    margin: 10px 0px;
    border: 1px solid;
    border-image: linear-gradient(to right, rgba(0,0,0,0) 0%, var(--fontWhite) 30%, var(--fontWhite) 70%, rgba(0,0,0,0) 100%) 1;
}
#side-menu .content > * > .titel {
    font-size: 20px;
    margin: 3px 0px;
}
#side-menu .content > * > .head {
    font-size: 21px;
    margin: 10px 0px 3px;
}
#side-menu .content > * > .option {
    margin: 2px 0px;
}
#side-menu .content > * > .option > span {
    margin-right: 5px;
}
#side-menu .content > * input[type="number"] {
    background: none;
    max-width: 25px;
    border-radius: 4px;
}
#side-menu .content > * input[type="range"] {
    background: none;
    max-width: 70px;
    transform: translate(0, 20%);
}
/*#side-menu .content > * select {
    color: red;
}*/


#realLerp {width: 60px;}
#input-arificial-framerate {width: 40px;}

#start-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#start-menu-options {
    position: fixed;
    width: 400px;
    height: 230px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    border: 1px solid grey;
    border-radius: 3px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#start-menu-options > * {
    width: 200px;
    font-size: large;
}

#start-menu-options .small {
    width: 150px;
    font-size: medium;
}


/*
#input-server-id {
    top: calc(40% - 60px);
    left: calc(50% - 75px);
    width: 150px;
}*/